<!-- Handles the seperate view of the top right corner for logged in/anonymous users with a SignInManager and UserManager from Identity framework -->
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Admin> SignInManager
@inject UserManager<Admin> UserManager

<!DOCTYPE html>
<html>
<head>
    <!-- Title and Favicon -->
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <!-- Bootstrap style resources -->
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <!-- Collapsible Nav - based on example at https://getbootstrap.com/docs/4.0/components/navbar/ -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <!-- Hamburger Button -->
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">PrismaPicker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link m-2" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-2" asp-controller="Glass" asp-action="Index">Catalog</a>
                </li>
            </ul>

            @if (SignInManager.IsSignedIn(User))
            {
                <div class="nav-item">

                    <!-- Icon from https://icons.getbootstrap.com/icons/person/ -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
                    </svg>

                    <!-- Display username for logged in user -->
                    @UserManager.GetUserName(User)

                    <!-- Logout Button -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <form asp-controller="Account" asp-action="Logout" method="post">
                                <input class="btn btn-outline-danger" type="submit" value="Log Out" />
                            </form>
                        </li>
                    </ul>
                </div>
            }
            else
            {
                <!-- Login Button -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <form asp-controller="Account" asp-action="Login" method="get">
                            <input class="btn btn-outline-danger" type="submit" value="Log In / Register" />
                        </form>
                    </li>
                </ul>
            }
        </div>
    </nav>

    <!-- View content is populated here -->
    <div class="container-fluid">
        @RenderBody()
    </div>

    <!-- Footer - Inspired by https://mdbootstrap.com/docs/standard/navigation/footer/ -->
    <footer class="bg-light text-muted fixed-bottom">
        <div class="text-center p-3">
            <p>&copy; 2022 - <a class="text-reset font-weight-bold" href="https://github.com/noah-owens">Noah Owens</a></p>
        </div>
    </footer>

    <!-- Bootstrap JS resources-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
