@model Register;

<h1>Create an Account</h1>

<p>Creating a PrismaPicker.com account will allow you to create, edit, and delete entries from the catalog!</p>

<form asp-controller="Account" asp-action="Register" method="post" class="row">
    <div class="col-8">
        <!-- Username Entry -->
        <div>
            <label asp-for="Username"></label>
            <input asp-for="Username" type="text" />
        </div>

        <!-- Password Entry -->
        <div>
            <label asp-for="Pass"></label>
            <input asp-for="Pass" type="password" />
        </div>

        <!-- Password Confirmation -->
        <div>
            <label asp-for="ConfirmPass"></label>
            <input asp-for="ConfirmPass" type="password" />
        </div>
        <div>
            <input type="submit" value="Register" />
        </div>
    </div>
    <div class="col-4">
        <!-- Displays Validation Issues from Register model -->
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
</form>