<!-- I didn't want to waste any time writing CSS, so it's all bootstrap, which isn't the best looking, but I'm still proud of this home page -->

<!-- Header Area -->
<header class="p-3 p-md-5 text-center">
    <h1 class="text-dark display-1">PrismaPicker</h1>
    <h2 class="text-dark display-4">Glass Color Made Easy</h2>

    <p class="text-dark m-5 lead">Presented in (unofficial) partnership with Oceanside Art Glass. Take advantage of a convienient list-style presentation of the Oceanside catalog, with valuable design details and store listings at your fingertips. Search for keywords to filter your results, and get a taste of your color without even leaving our catalog. When you're ready, take the plunge and get connected directly to a product's listing on Oceanside Art Glass!</p>
</header>

<!-- Image Row -->
<div class="row p-2 pb-5">
    <img class="col-3 img-fluid w-75" src="~/resources/images/darkAmber.png" />
    <img class="col-3 img-fluid w-75" src="~/resources/images/lightGreen.png" />
    <img class="col-3 img-fluid w-75" src="~/resources/images/lightPurple.png" />
    <img class="col-3 img-fluid w-75" src="~/resources/images/aquaRose.png" />
</div>
